body {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #2e2e2e;
    color: orange;
    user-select: none;
}
/* #buttonDiv{
    margin-top: 15px;
    margin-left: 15px;
} */
.typeImage{
    height: 35px;
    width: 35px;
}
#cardGameContainerDiv {
    border: 5px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 880px;
    overflow-y: auto;

}

#testingStuffDiv {
    width: 600px;
    word-wrap: break-word;
}

.singleCardDivs {
    border: 2px solid black;
    width: 100px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: grey;
    border-radius: 20px;
    cursor: pointer;
}
.singleCardDivs:hover {
    /* animation: bounce 0.5s linear; */
    border: 2px solid orange;
    transform: translateY(-5px);

}
@keyframes bounce {
    /* 50% {
        transform: translateY(-15px);
    } */
    100% {
        transform: translateY(-15px);
    }
}
#cardsOnTableContainer{
    display: grid;
    grid-template-columns: repeat(5, 110px);
    grid-gap: 10px;
    overflow: auto;
    padding: 30px;
    align-items: center;
    width: 650px;
    height: 400px;
}

#cardsOnHandContainer {
    display: grid;
    grid-template-columns: repeat(5, 110px);
    overflow: auto;
    padding: 30px;
    align-items: center;
    width: 600px;
    height: 200px;
}
.buttonStyle1 {
    width: 200px;
    height: 40px;
}
.buttonStyle1:hover {
    background-color: tomato;
    font-weight: bold;
}